<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<!-- https://docs.flutter.dev/development/data-and-backend/networking#macos
        macOS apps must allow network access in the relevant .entitlements files -->
        <key>com.apple.security.network.client</key>
        <true/>
        <key>com.apple.security.app-sandbox</key>
        <true/>
	</dict>
</plist>
    